<footer id="footer-main">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <p>Coded by <a href="https://github.com/seizadi/angular5">Soheil Eizadi</a></p>
        <p>But do what you want! &copy; 2018</p>
      </div>
      <div class="col-sm-3">
        <ul class="list-unstyled">
          <li><a href="#">home</a></li>
          <li><a href="#">about</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="list-unstyled">
          <li><a href="#">facebook</a></li>
          <li><a href="#">twitter</a></li>
          <li><a href="#">youtube</a></li>
          <li><a href="#">linkedin</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
